extends layout

block content
  h1= title

  - var btnType = 'info'
  - var btnSize = 'lg'
  body.background
    
    br
    br

    div
      h5 ON / OFF
      div.row
        div.col
          h6 Status : 
        div.col
          h6#status
      div.row
        div.col
          button#on(type='button' class='btn btn-' + btnType + ' btn-' + btnSize) on
        div.col
          button#off(type='button' class='btn btn-' + btnType + ' btn-' + btnSize) off
    
    br
    br

    div
      h5 SPEED
      div.row
        div.col
          h6 Current Speed : 
        div.col
          h6#speed
      div.row
        div.col
          button#down(type='button' class='btn btn-' + btnType + ' btn-' + btnSize) down
        div.col
          button#up(type='button' class='btn btn-' + btnType + ' btn-' + btnSize) up

  script(src='/javascripts/controller.js')
