extends layout

block content

  - var btnType = 'info'
  - var btnSize = 'lg'
  - var lineGraphHeight = '100'
  
  body.background
    .row
      .row
        //- SENSORS
        .col.s6.vl-right-thick
          //- Compass
          .row
            h5 Compass
          .row
            .col.s3
              button#zero-compass-clear(type='button' class='btn orange darken-4 btn-' + btnType + ' btn-small') clear
            .col.s3
              button#zero-compass(type='button' class='btn orange btn-' + btnType + ' btn-small') zero
            .col.s6
              h6#zero-compass-message.sensor-data
          .row
            .col.s3
              h6
                u X-Axis
              h7#compass-x.sensor-data NULL
            .col.s3.vl-left
              h6
                u Y-Axis
              h7#compass-y.sensor-data NULL
            .col.s3.vl-left
              h6
                u Z-Axis
              h7#compass-z.sensor-data NULL
            .col.s3.vl-left
              h6
                u Heading
              h7#compass-heading.sensor-data 0
          .row
            .col.s12
              canvas#compass-line-graph(height=lineGraphHeight)           
          .divider
          //- Accel
          .row
            h5 Accelerometer
          .row
            .col.s3
              button#zero-accel-clear(type='button' class='btn orange darken-4 btn-' + btnType + ' btn-small') clear
            .col.s3
              button#zero-accel-xy(type='button' class='btn orange btn-' + btnType + ' btn-small') zero xy
            .col.s3
              button#zero-accel-z(type='button' class='btn orange btn-' + btnType + ' btn-small') zero z
            .col.s3
              .row
                .col.s3
                  p#offset-accel-x.sensor-data NULL
                .col.s3
                  p#offset-accel-y.sensor-data NULL
                .col.s3
                  p#offset-accel-z.sensor-data NULL
          .row
            .col.s4
              h6
                u X-Axis
              h7#accel-x.sensor-data NULL
            .col.s4.vl-left
              h6
                u Y-Axis
              h7#accel-y.sensor-data NULL
            .col.s4.vl-left
              h6
                u Z-Axis
              h7#accel-z.sensor-data NULL
          .row
            .col.s6.vl-right
              canvas#accel-live-xy
            .col.s6
              canvas#accel-live-z
          .row
            .col.s12
              canvas#accel-line-graph(height=lineGraphHeight)

        //- MOTORS
        .col.s6.vl-left-thick
          //- Tune
          .slidecontainer
            .row
              .col.s6
                h5 Tune
              .col.s6
                h6#direction.motor-data NULL
            input#crossfade(type="range" min="-70" max="70" value="0")
            .row
              .col.s3
                h6
                  u Value 
                h7#crossfade-value.motor-data NULL
          .divider
          //- Coupled
          .slidecontainer
            .row
              .col.s3
                h5 Coupled:
              .col.s3
                h5#coupled-status.motor-data NULL
            input#coupled(type="range" min="0" max="140" value="0")
            .row
              .col.s6
                .row
                  .col.s3
                    h6
                      u Value 
                    h7#coupled-value.motor-data NULL
              .col.s6.vl-left
                .row
                  .col
                    h6
                      u isOn: 
                  .col
                    h6#status-all.motor-data NULL
                .row
                  .col
                    button#on-universal(type='button' class='btn green btn-' + btnType + ' btn-' + btnSize) on
                  .col
                    button#off-universal(type='button' class='btn red btn-' + btnType + ' btn-' + btnSize) off
          .divider
          //- Motor 0
          .col.s6.vl-right
            .slidecontainer
              h5 Motor 0
              input#speed-0(type="range" min="0" max="140" value="0")
              .row
                .col.s6.vl-right
                  h6 
                    u Value 
                  h7#speedValue-0.motor-data NULL
                .col.s6
                  h6 
                    u PWM
                  h7#pwm-0.motor-data NULL
              .divider
              .row
                .col
                  h6 
                    u isOn: 
                .col
                  h6#status-0.motor-data NULL
              .row
                .col
                  button#on-0(type='button' class='btn green btn-' + btnType + ' btn-' + btnSize) on
                .col
                  button#off-0(type='button' class='btn red btn-' + btnType + ' btn-' + btnSize) off
          //- Motor 1
          .col.s6
            .slidecontainer
              h5 Motor 1
              input#speed-1(type="range" min="0" max="140" value="0")
              .row
                .col.s6.vl-right
                  h6 
                    u Value 
                  h7#speedValue-1.motor-data NULL
                .col.s6
                  h6 
                    u PWM
                  h7#pwm-1.motor-data NULL
              .divider
              .row
                .col
                  h6 
                    u isOn:   
                .col
                  h6#status-1.motor-data NULL
              .row
                .col
                  button#on-1(type='button' class='btn green btn-' + btnType + ' btn-' + btnSize) on
                .col
                  button#off-1(type='button' class='btn red btn-' + btnType + ' btn-' + btnSize) off
          //- Error
          .row
            .col.s6
              .divider
              h5 Error:
              h6#error.motor-data No Error
          .divider
          //- Set Heading
          .row
            .col.s2
              h6 Set Heading
            .col.s8
              input#set-heading(type="range" min="0" max="360" value="0")
            .col.s2
              h6#set-heading-val
          .divider
          //- Animation
          .row
            div#cube-anime
          .row
            .col.s1
              h6 X
            .col.s10
              input#accel-x-anime(type="range" min="-180" max="180" value="0")
            .col.s1
              h6#accel-x-val-anime 0
          .row
            .col.s1
              h6 Y
            .col.s10
              input#accel-y-anime(type="range" min="-180" max="180" value="0")
            .col.s1
              h6#accel-y-val-anime 0
          .row
            .col.s1
              h6 Z
            .col.s10
              input#accel-z-anime(type="range" min="-180" max="180" value="0")
            .col.s1
              h6#accel-z-val-anime 0
    .divider

    script(src="/socket.io/socket.io.js")
    script(type="module" src="./javascripts/controller.js")