extends layout

block content
  h1= title

  - var btnType = 'info'
  - var btnSize = 'lg'
  
  body.background

    div.row
      div.col
        div.row
          div#device_info
            div#key_data

        br
        br

        div.slidecontainer
          h5 Motor 1:
          input#motorSpeedSlider(type="range" min="0" max="135" value="0")
          h6#speedValue
        
        br
        br

        div
          div.row
            div.col
              button#refresh(type='button' class='btn btn-' + btnType + ' btn-' + btnSize) refresh
        
        br
        br

        div
          h5 ON / OFF
          div.row
            div.col
              h6 Status : 
            div.col
              h6#status
          div.row
            div.col
              button#on(type='button' class='btn btn-' + btnType + ' btn-' + btnSize) on
            div.col
              button#off(type='button' class='btn btn-' + btnType + ' btn-' + btnSize) off

      div.col
        div.row
          div#device_info
            div#key_data

        br
        br

        div.slidecontainer
          h5 Motor 1:
          input#motorSpeedSlider(type="range" min="0" max="135" value="0")
          h6#speedValue
        
        br
        br

        div
          div.row
            div.col
              button#refresh(type='button' class='btn btn-' + btnType + ' btn-' + btnSize) refresh
        
        br
        br

        div
          h5 ON / OFF
          div.row
            div.col
              h6 Status : 
            div.col
              h6#status
          div.row
            div.col
              button#on(type='button' class='btn btn-' + btnType + ' btn-' + btnSize) on
            div.col
              button#off(type='button' class='btn btn-' + btnType + ' btn-' + btnSize) off
  

  script(src='/javascripts/controller.js')
