extends layout

block content
  h1= title

  - var btnType = 'info'
  - var btnSize = 'lg'
  
  body.background

    div.row
      div.col.s6
        div.slidecontainer
          h5 Motor 1:
          input#motorSpeedSlider(type="range" min="0" max="135" value="0")
          h6#speedValue
        br
        br
        div
          div.row
            div.col
              button#refresh(type='button' class='btn btn-' + btnType + ' btn-' + btnSize) refresh
        br
        br
        div
          h5 ON / OFF
          div.row
            div.col
              h6 Status : 
            div.col
              h6#status
          div.row
            div.col
              button#on(type='button' class='btn btn-' + btnType + ' btn-' + btnSize) on
            div.col
              button#off(type='button' class='btn btn-' + btnType + ' btn-' + btnSize) off
      div.col.s6
        div.slidecontainer
          h5 Motor 2:
          input#motorSpeedSlider2(type="range" min="0" max="135" value="0")
          h6#speedValue2
        br
        br
        div
          div.row
            div.col
              button#refresh2(type='button' class='btn btn-' + btnType + ' btn-' + btnSize) refresh 
        br
        br
        div
          h5 ON / OFF
          div.row
            div.col
              h6 Status : 
            div.col
              h6#status2
          div.row
            div.col
              button#on2(type='button' class='btn btn-' + btnType + ' btn-' + btnSize) on
            div.col
              button#off2(type='button' class='btn btn-' + btnType + ' btn-' + btnSize) off
  

  script(src='/javascripts/controller.js')
