extends layout

block content
  h1= title

  - var btnType = 'info'
  - var btnSize = 'lg'
  
  body.background
    br
    div.row
      div.row
        div.col
          button#refresh(type='button' class='btn btn-' + btnType + ' btn-' + btnSize) refresh
      br
      br
      .row
        div.slidecontainer
          h5 Crossfade
          input#crossfade(type="range" min="0" max="135" value="0")
          div.row
            div.col.s3
              h6 Value: 
              h7#crossfade-value
            div.col.s3
              h6 PWM:
              h7#pwm-crossfade
      div.col.s6
        div.slidecontainer
          h5 Motor 0
          input#speed-0(type="range" min="0" max="135" value="0")
          div.row
            div.col.s3
              h6 Value: 
              h7#speedValue-0
            div.col.s3
              h6 PWM:
              h7#pwm-0
        br
        br
        div
          div.row
            div.col
              h6 Status : 
            div.col
              h6#status-0
          div.row
            div.col
              button#on-0(type='button' class='btn btn-' + btnType + ' btn-' + btnSize) on
            div.col
              button#off-0(type='button' class='btn btn-' + btnType + ' btn-' + btnSize) off
      
      div.col.s6
        div.slidecontainer
          h5 Motor 1
          input#speed-1(type="range" min="0" max="135" value="0")
          div.row
            div.col.s3
              h6 Value: 
              h7#speedValue-1
            div.col.s3
              h6 PWM:
              h7#pwm-1
        br
        br
        div
          div.row
            div.col
              h6 Status : 
            div.col
              h6#status-1
          div.row
            div.col
              button#on-1(type='button' class='btn btn-' + btnType + ' btn-' + btnSize) on
            div.col
              button#off-1(type='button' class='btn btn-' + btnType + ' btn-' + btnSize) off
  

  script(src='/javascripts/controller.js')
